#container{
  width: 1200px;
  padding: 25px;
}
#createuser input{
  margin-left: 100px;
}
#createuser{
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  border: 1px solid black;
}
#login input{
  margin-left: 100px;
}
#login{
  display: inline-block;
  padding: 10px;
  vertical-align: top;
  border: 1px solid black;
}

.btn{
  margin-left: 150px;
  background-color: black;
}

#right{
  margin-left: 100px;
}

#otherbooks{
  height: 200px;
  margin-top: 25px;
  margin-left: 600px;
  overflow-y: scroll;
}
h3{
  margin-left: 600px;
}
#otherbooks p{
  margin-left: 80px;
}

img{
  width: 50px;
}

#newestrev{
  margin-top: 25px;
  width: 200px;
  height: 75px;
}

#othgroup{
  margin-top: -300px;
}
