#container{
  width: 1200px;
  padding: 25px;
}

.btn{
  margin-left: 100px;
  background-color: black;
}

#right{
  margin-left: 100px;
}

#addreview{
  margin-left: 500px;
}
#Reviews{
  margin-top: -150px;
}
#review{
  margin-left: 50px;
}
#rating{
  margin-left: 50px;
}
img{
  width: 50px;
}
#line{
  border-top: 2px solid black;
  width: 300px;
}

.reviews{
  width: 400px;
  height: 150px;

}
