<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>{{books.title}}</title>
    <link rel= 'stylesheet' type= 'text/css' href= "{% static 'beltreview/showbook.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id= "container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
          <ul class="nav navbar-nav">
            <li id= "right" class="active"><a href="/books/add">Add Book and Review</a></li>
            <li id= "right" class="active"><a href="/books">Books</a></li>
            <li id= "right" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <h1>{{books.title}}</h1>
    <h3>Author: {{books.author.name}}</h3>

          <div id= "addreview">
            <h4>Add a review:</h4>
            <form class="form-horizontal" action="/create/review/{{books.id}}" method="post" role="form">
              {% csrf_token %}
              <div class="form-group">
                <label class="control-label col-sm-1" for="review">Review:</label>
                <div class="col-sm-6">
                  <input type="textarea" class="form-control" id="review" name= "review" placeholder="Enter review">
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-sm-1" for="rating">Rating:</label>
                <div class="col-sm-3">
                  <select class="form-control" id="rating" name= "rating">
                    <option value= 1>1 star</option>
                    <option value= 2>2 star</option>
                    <option value= 3>3 star</option>
                    <option value= 4>4 star</option>
                    <option value= 5>5 star</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-4">
                  <button type="submit" class="btn btn-default" >Post Review</button>
                </div>
              </div>
            </form>
          </div>
          <div id= "Reviews">
            <h1 id="reviewtitle">Reviews</h1>

              {% if reviews %}
              {%for review in reviews%}
              <div id= "line"></div>
                <div class= "reviews">
                  <img src= "../../static/beltreview/img/stars{{review.rating}}.jpg">
                    <h4>{{review.user.alias}} says: {{review.review}}</h4>
                  <h4>Posted on {{review.created_at}}</h4>
                </div>
                {%endfor%}
              {%endif%}
            </div>
        </div>
  </body>
</html>
