<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Belt Review</title>
    <link rel= 'stylesheet' type= 'text/css' href= "{% static 'beltreview/index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id= "container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
          <ul class="nav navbar-nav">
            <li id= "right" class="active"><a href="/books/add">Add Book and Review</a></li>
            <li id= "right" class="active"><a href="/books">Books</a></li>
            <li id= "right" class="active"><a href="/user/{{request.session.user}}">Profile</a></li>
            <li id= "right" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <h1>Welcome {{Users.alias}}!</h1>
    <h4>Recent Book Reviews:</h4>
        {%for review in reviews%}
        <div id= "newestrev">
        <a href= "books/{{review.book.id}}">{{review.book.title}}</a>
        <img src= "../../static/beltreview/img/stars{{review.rating}}.jpg">
        <p>{{review.user.alias}} says:  {{review.review}}</p>
          <p>Posted on {{review.created_at}}</p>
        </div>
        {%endfor%}
        <div id= "othgroup">
      <h3>Other books with Reviews</h3>
      <div id= "otherbooks">
        {% for book in books %}
        <a href= "/books/{{book.id}}"><p>{{book.title}}</p></a>
        {%endfor%}
      </div>
    </div>
    </div>
  </body>
</html>
