<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <meta charset="utf-8">
    <title>Belt Review</title>
    <link rel= 'stylesheet' type= 'text/css' href= "{% static 'beltreview/index.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <style media="screen">
      h3{
        margin-top: 100px;
        margin-left: 0px;
      }
    </style>
  </head>
  <body>
    <div id= "container">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
          </div>
          <ul class="nav navbar-nav">
            <li id= "right" class="active"><a href="/books/add">Add Book and Review</a></li>
            <li id= "right" class="active"><a href="/books">Books</a></li>
            <li id= "right" class="active"><a href="/user/{{request.session.user}}">Profile</a></li>
            <li id= "right" class="active"><a href="/logout">Logout</a></li>
          </ul>
        </div>
      </nav>
    <h1>User Alias: {{user.alias}}</h1>
    <h1>User Name: {{user.name}}</h1>
    <h1>User Email: {{user.email}}</h1>
    <h1>User something: {{user.alias}}</h1>


      <h3>Posted Reviews on the following books:</h3>
      <div id= "userbooks">

        {% for book in books %}
        <a href= "/books/{{book.book.id}}"><p>{{book.book.title}}</p></a>
        {%endfor%}
      </div>
    </div>
  </body>
</html>
